name: run pipeline.py

on:
  workflow_dispatch:
  schedule:
    - cron: "30 0 * * *" # At 6 AM daily (UTC - 00:30)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12" 

      - name: install poetry and then dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-root

      - name: execute python script
        env:
            GOOGLE_CREDENTIALS_B64: ${{ secrets.GOOGLE_CREDENTIALS_B64 }}
            DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: poetry run exchange-rates-pipeline

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git diff-index --quiet HEAD || (git commit -a -m "added file to output" --allow-empty)

      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main